{% extends 'base.html.twig' %}

{% block title %}Annuaire Films{% endblock %}

{% block stylesheets %}

<style>

body{
  background-color: #147589;
}



</style>

{% endblock %}

{% block body %}

<div class="container mt-4 mb-1">
  <div class="jumbotron">
    <h1 class="display-4">{{ movie.name }}!</h1>
    <p class="lead">{{ movie.description }}</p>
    <hr class="my-4">
      De : <span style="font-weight:bold">{{ movie.author.name }}</span>
      <div class="realisateur">
        Du même réalisateur : <br>{% for movieAuthor in movie.author.movies %}
        <span style="font-weight:bold">{{movieAuthor.name}}</span><br>
        {% endfor %}
    </div>
    <p class="lead mt-3 mb-1">
      <a class="btn btn-info btn-lg mb-3 mb-1" href="{{ movie.link }}">Lien Allociné</a>
    </p>
  </div>

{% endblock %}
